# Provisioning
provisioning/dist/
provisioning/imports/*
provisioning/!imports/__init__.py
provisioning/.terraform
provisioning/cdktf.log
provisioning/*terraform.*.tfstate*

provisioning/cdktf.out/*
!provisioning/cdktf.out/stacks/
provisioning/cdktf.out/stacks/*
!provisioning/cdktf.out/stacks/BaseComputeStack/
provisioning/cdktf.out/stacks/BaseComputeStack/*
!provisioning/cdktf.out/stacks/BaseComputeStack/.terraform.lock.hcl
!provisioning/cdktf.out/stacks/BastionStack/
provisioning/cdktf.out/stacks/BastionStack/*
!provisioning/cdktf.out/stacks/BastionStack/.terraform.lock.hcl
!provisioning/cdktf.out/stacks/KubernetesNodesStack/
provisioning/cdktf.out/stacks/KubernetesNodesStack/*
!provisioning/cdktf.out/stacks/KubernetesNodesStack/.terraform.lock.hcl
!provisioning/cdktf.out/stacks/NetworkingStack/
provisioning/cdktf.out/stacks/NetworkingStack/*
!provisioning/cdktf.out/stacks/NetworkingStack/.terraform.lock.hcl

