[Unit]
Description=etcd service
Documentation=https://github.com/etcd-io/etcd
After=network.target

[Service]
User=ubuntu
ExecStart={{ etcd_target_path }}/etcd --data-dir {{ etcd_data_path }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=etcd.service
