## Options to pass to kube-apiserver
##
## --service-cluster-ip-range
## A CIDR notation IP range from which to assign service cluster IPs.
## This must not overlap with any IP ranges assigned to nodes or pods.
## These are not physical IP addresses that need to be provisioned in your AWS
## VPC, but rather virtual IP addresses that are used internally within the
## Kubernetes cluster
##
## --service-account-issuer 
## Used to check the "iss" claim in the token
##
## --service-account-signing-key-file
## Used to sign tokens with the given private key
## 
## --service-account-key-file
## Used to verify tokens
##
## If not specified certs will be self-signed generated in
## /var/run/kubernetes/apiserver.crt, /var/run/kubernetes/apiserver.key
DAEMON_OPTS="\
--etcd-servers=http://localhost:{{ control_plane_etcd_port }} \
--service-cluster-ip-range={{ control_plane_api_server.service_cluster_ip_range }} \
--service-account-issuer=k8s \
--service-account-signing-key-file={{ control_plane_pki_path }}/{{ control_plane_service_account_signing_key_name }} \
--service-account-key-file={{ control_plane_pki_path }}/{{ control_plane_service_account_key_name }} \
--authorization-mode=Node,RBAC \
--anonymous-auth=true
"
