## Options to pass to kube-apiserver
DAEMON_OPTS="\
--service-cluster-ip-range={{ control_plane_api_server.service_cluster_ip_range }} \
--etcd-servers=http://localhost:{{ control_plane_etcd_port }} \
--service-account-issuer=k8s \
--service-account-signing-key-file={{ control_plane_service_account_signing_key_path }} \
--service-account-key-file={{ control_plane_service_account_key_path }}
"
