## Options to pass to kube-scheduler
DAEMON_OPTS="\
--client-ca-file={{ kube_scheduler_pki_path }}/{{ kube_scheduler_client_ca_file }} \
--tls-cert-file={{ kube_scheduler_pki_path }}/{{ kube_scheduler_tls_cert_file }} \
--tls-private-key-file={{ kube_scheduler_pki_path }}/{{ kube_scheduler_tls_private_key_file }} \
--config={{ kube_scheduler_config_path }}/{{ kube_scheduler_name}}.yaml
"
