## Options to pass to etcd
# listen-client-urls: List of URLs to listen on for client grpc traffic and http as long as --listen-client-http-urls is not specified.
# advertise-client-urls: List of this member's client URLs to advertise to the public. The client URLs advertised should be accessible to machines that talk to etcd cluster. etcd client libraries parse these URLs to connect to the cluster.
DAEMON_OPTS="\
--listen-client-urls http://localhost:{{ etcd_client_port }} \
--advertise-client-urls http://localhost:{{ etcd_client_port }} \
--data-dir {{ etcd_data_path }}
"
