## Options to pass to etcd
DAEMON_OPTS="\
--listen-client-urls http://localhost:{{ etcd_client_port }} \
--advertise-client-urls http://localhost:{{ etcd_client_port }} \
--data-dir {{ etcd_data_path }}
"
