[Unit]
Description=etcd service
Documentation=https://github.com/etcd-io/etcd
After=network.target

[Service]
Type=notify
User=ubuntu
EnvironmentFile={{ etcd_service_env_path }}/etcd
ExecStart={{ etcd_target_path }}/etcd $DAEMON_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=etcd.service
