## Options to pass to kube-controller-manager
DAEMON_OPTS="\
--master={{ kube_controller_manager_api_server_address }} \
--cluster-signing-cert-file={{ kube_controller_manager_pki_path }}/{{ kube_controller_manager_cluster_signing_cert_file }} \
--cluster-signing-key-file={{ kube_controller_manager_pki_path }}/{{ kube_controller_manager_cluster_signing_key_file }} \
--root-ca-file={{ kube_controller_manager_pki_path }}/{{ kube_controller_manager_root_ca_file }} \
--client-ca-file={{ kube_controller_manager_pki_path }}/{{ kube_controller_manager_client_ca_file }} \
--tls-cert-file={{ kube_controller_manager_pki_path }}/{{ kube_controller_manager_tls_cert_file }} \
--tls-private-key-file={{ kube_controller_manager_pki_path }}/{{ kube_controller_manager_tls_private_key_file }}
"
