[Unit]
Description=kube-apiserver service
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
EnvironmentFile={{ kube_apiserver_service_env_path }}/kube-apiserver
ExecStart={{ kube_apiserver_target_path }}/kube-apiserver $DAEMON_OPTS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
Alias=kube-apiserver.service
