## Options to pass to kube-apiserver
##
## --service-cluster-ip-range
## TODO This must match the service_cluster_ip_range in kube-controller ??
##
## service-account-key-file is a required flag, --service-account-signing-key-file, --service-account-issuer, and --api-audiences should be specified together
## 
## If not specified certs will be self-signed generated in
## /var/run/kubernetes/apiserver.crt, /var/run/kubernetes/apiserver.key
DAEMON_OPTS="\
--service-cluster-ip-range={{ kube_apiserver_service_cluster_ip_range }} \
--etcd-servers=http://localhost:{{ kube_apiserver_etcd_port }} \
--service-account-issuer=k8s
"
