## Options to pass to kube-apiserver
##
## --service-cluster-ip-range
## TODO This must match the service_cluster_ip_range in kube-controller ??
## 
## If not specified certs will be self-signed generated in
## /var/run/kubernetes/apiserver.crt, /var/run/kubernetes/apiserver.key
DAEMON_OPTS="\
--service-cluster-ip-range={{ kube_apiserver_service_cluster_ip_range }} \
--etcd-servers=http://localhost:{{ kube_apiserver_etcd_port }} \
--service-account-issuer={{ kube_apiserver_service_account_issuer }} \
--service-account-key-file={{ kube_apiserver_pki_path }}/{{ kube_apiserver_service_account_key_file }} \
--service-account-signing-key-file={{ kube_apiserver_pki_path }}/{{ kube_apiserver_service_account_signing_key_file }} \
--authorization-mode={{ kube_apiserver_auth_modes }} \
--client-ca-file={{ kube_apiserver_pki_path }}/{{ kube_apiserver_client_ca_file }} \
--audit-log-maxage={{ kube_apiserver_audit_log.maxage }} \
--audit-log-maxbackup={{ kube_apiserver_audit_log.maxbackup }} \
--audit-log-maxsize={{ kube_apiserver_audit_log.maxsize }} \
--audit-log-path={{ kube_apiserver_audit_log_path }} \
--bind-address={{ kube_apiserver_bind_address }} \
--tls-cert-file={{ kube_apiserver_pki_path }}/{{ kube_apiserver_tls_cert_file }} \
--tls-private-key-file={{ kube_apiserver_pki_path }}/{{ kube_apiserver_tls_private_key_file }}
"
