[Unit]
Description=kubelet service
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
EnvironmentFile={{ kubelet_service_env_path }}/kubelet
ExecStart={{ kubelet_target_path }}/kubelet $DAEMON_OPTS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
Alias=kubelet.service
